SECRET_KEY=poneme-una-clave-segura
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/consultas_db
POSTGRES_DB=consultas_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
UPLOAD_FOLDER=/app/uploads

POSTGRES_HOST=db
