# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
.pytest_cache/
.mypy_cache/

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Base de datos local (si usás sqlite para pruebas)
*.db
*.sqlite3

# Uploads locales
app/uploads/*
!app/uploads/.gitkeep

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
